
:root{
    --text-color:#4C4F4C;
    --background-color:#f5f5f5;
}

body{
    max-width:1200px;
    margin:0 auto;
    padding:15px;

}

.navbar{
    background-color:var(--background-color);
    display:flex;
    justify-content:space-between;
    padding:24px;
    align-items: center;
}

.navbar_logo {
    font-size:50px;
    font-family: 'Roboto Mono', monospace;
}

.navbar_menu{
    display:flex;
    list-style: none;
    padding-left:0;
}

.navbar_menu a{
    text-decoration: none;
    font-family: 'Playfair Display', serif;
    font-size: 24px;
    padding: 24px;
    color: var(--text-color);
}

.navbar_menu :hover{
    color:red;
}

.main_paragraph{
    background-color: var(--background-color);
    padding:24px;
    font-size: 24px;
    font-family: 'Roboto Mono', monospace;
}

.main_photo{
    background-color: var(--background-color);
    padding:24px;
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.main_photo img{
    width:30%;
    height: auto;
    margin:8px;
    padding-bottom:4px;

}

.copyright{
    background-color: var(--background-color);
    color:gray;
    font-size:12px;
    text-align:justify;
    padding:24px;
}
.copyright a{
    text-decoration:none;
    color:black;
}

@media screen and (max-width:768px){

.navbar{
    display:flex;
    flex-direction:column;
}

.navbar_menu a{
    font-size:18px;
}

.main_paragraph{
    display:flex;
    justify-content: center;
    font-size:14px;
}
.main_photo{
    display:flex;
    flex-direction: column;
    align-items: center;
}

.main_photo img{
    width:100%;
    height:100%;
    padding:0;
    margin-bottom:5px;
    margin-left:0px;
}

.copyright{ 
    display:block;
    text-align:justify;
    font-size:12px;
}
}