
:root{
    --text-color:#4C4F4C;
    --background-color:#f5f5f5;
}

body{
    max-width:1200px;
    margin:0 auto;
    padding:15px;

}

.navbar{
    background-color:var(--background-color);
    display:flex;
    justify-content:space-between;
    padding:24px;
    align-items: center;
}

.navbar_logo {
    font-size:30px;
    text-decoratiton: underline;
}

.navbar_menu{
    display:flex;
    list-style: none;
    padding-left:0;
}

.navbar_menu a{
    text-decoration: none;
    font-style: italic;
    font-size: 24px;
    padding: 24px;
    color: var(--text-color);
}




.navbar_menu :hover{
    color:red;
}

.main_paragraph{
    background-color: var(--background-color);
    padding:24px;
    font-size: 18px;
}

.main_photo{
    background-color: var(--background-color);
    padding:24px;
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.main_photo img{
    width:30%;
    height: auto;
    margin:8px;
    padding-bottom:4px;

}


.copyright{
    background-color: var(--background-color);
    color:gray;
    font-size:14px;
    text-align:justify;
    padding:24px;
}

.copyright a{
    text-decoration:none;
    color:black;
}

