
:root{
    --text-color:#4C4F4C;
    --background-color:#f5f5f5;
}

body{
    max-width:1200px;
    margin:0 auto;
    padding:15px;

}

.navbar{
    background-color:var(--background-color);
    display:flex;
    justify-content:space-between;
    padding:24px;
    align-items: center;
}

.navbar_logo {
    font-size:30px;
    text-decoration: underline;
}

.navbar_menu{
    display:flex;
    list-style: none;
}

.navbar_menu a{
    text-decoration: none;
    font-style: italic;
    font-size: 24px;
    padding: 24px;
    color: var(--text-color);
}

.navbar_menu :hover{
    color:red;
}
.mainsection{
    display:flex;
    padding:24px;
    background-color: var(--background-color);
    flex-direction: column;
    align-items: center;
}

.main_paragraph{
    color:var(--text-color);
    font-size:18px;
    padding:24px;
    text-align:justify;
}

.main_photo{
    display:flex;
    padding:24px;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap:wrap;
}

.main_photo01{
    display:flex;
    justify-content: space-between;
    width:250px;
    height: 250px;
    padding: 30px;
}

.main_photo02{
    display:flex;
    justify-content: space-between;
    width:250px;
    height: 250px;
    padding:30px;
}

.main_photo03{
    display:flex;
    justify-content: space-between;
    width:250px;
    height: 250px;
    padding: 30px;
}

.main_paragraph02{
    dislay:flex;
    padding:24px;
    color:var(--text-color);
    text-align:justify;
}

.copyright{
    background-color: var(--background-color);
    color:gray;
    font-size:14px;
    text-align:justify;
    padding:24px;
}

.copyright a{
    text-decoration:none;
    color:black;
}

@media screen and (max-width:768px){
.navbar{
    flex-direction:row;
    align-items: baseline;
    
}

.navbar_menu{   
    flex-direction: row;
    align-items: flex-end;
}

.navbar_menu a{
    font-size: 14px;
    padding-left:0;
}

.mainsection{
    flex-direction: column;
    align-items:center;
}

.main_photo{
    flex-direction: column;
    justify-content:center;
    width:50%;
}

.main_photo01,.main_photo02, .main_photo03{
    width:250px;
}
}
